@import "addons.scss";
@import "dashboard";


.mytheme {
  // Output the actual theme selectors
  @include addons;
  @include dashboard;

  .full {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 155;
    top: 0px;
    right: 0px;
    padding-top: 10px;
    padding-right: 10px;
    overflow: auto;
  }

  .panel-toolbar{
    background: cornsilk;
  }

  .panel-content {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .header{
    background-color: black;
  }

  .header-title-label{
    color: red;
  }
}


